:root {
  --background: #060606;
  --font: Montserrat, sans-serif;
  --dudji-yellow: #ffc83d;
  --font-size-3: 1rem;
  --dudji-red: #d5363e;
  --avatar-kit--white\<deleted\|variable-67a86166\>: white;
  --font-size-2: 1.25rem;
  --font-size-1: 2.5rem;
  --white: white;
  --black: black;
  --dudjji-purple: #643dff;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: none;
}

.navbar {
  color: #3330;
  background-color: #fff0;
  position: absolute;
  inset: 0% 0% auto;
}

.body {
  background-color: var(--background);
  font-family: var(--font);
  color: #fff;
}

.nav-menu-big-content-list {
  z-index: 99;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: relative;
}

.line-1 {
  color: #fff;
  background-color: #fff;
  width: 27px;
  height: 2px;
}

.nav-menu-big-div {
  background-color: #000;
  width: 100vw;
  height: 100px;
  position: fixed;
}

.nav-menu-big-wrapper {
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
}

.nav-menu {
  z-index: 9999;
  position: relative;
}

.line-2 {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-div {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav__list-item {
  margin-right: 3vw;
  list-style-type: disc;
  display: inline-block;
  position: relative;
}

.nav-menu-big-content {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
}

.logo-text {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.logo-text._2ndnavtext {
  font-weight: 700;
  display: none;
}

.nav__list-item-copy {
  margin-right: 3vw;
  list-style-type: disc;
  display: block;
  position: relative;
}

.link {
  opacity: 1;
  color: #131314;
  font-family: Montserrat, sans-serif;
  font-size: 2.8vw;
  font-weight: 300;
  line-height: 2.8vw;
  text-decoration: none;
  display: block;
}

.link:hover, .link.w--current:hover {
  font-weight: 700;
}

.nav-burger-wrapper {
  z-index: 201;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
  height: 60px;
  padding: 15px 0 15px 15px;
  display: flex;
  position: relative;
}

.line-3 {
  background-color: #fff;
  width: 27px;
  height: 2px;
}

.nav-logo {
  text-decoration: none;
}

.nav-content {
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.nav-menu-big {
  z-index: 9998;
  background-color: #0000;
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.nav-wrapper {
  display: block;
}

.hero-text {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 0;
  display: flex;
}

.scramble-text.text-size-xl.text-weight-light {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
}

.section-hero {
  justify-content: center;
  align-items: center;
  height: 100svh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.spline-scene {
  background-color: #7a636300;
  width: 100%;
  height: 100%;
  position: static;
}

.image-3, .image-4, .image-5 {
  filter: invert();
  width: 40px;
}

.image-6 {
  width: 40px;
}

.section-cta {
  background-color: #fff0;
  margin-top: 20vh;
  margin-bottom: 0;
}

.section-philosophy {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: none;
}

.footer {
  font-family: Montserrat, sans-serif;
}

.footer-container {
  width: 100%;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
}

.social-media-icon {
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  transition: color .2s;
}

.social-media-icon:hover {
  color: var(--dudji-yellow);
}

.footer-wrapper-menu {
  grid-column-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
}

.footer_link {
  color: #fff;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
}

.footer_link:hover {
  color: #d5363e;
}

.footer-text-size-small {
  font-size: .875rem;
  line-height: 1.5;
}

.footer-text-size-small.text-color-gray600 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footer-logo-link {
  float: none;
  padding-left: 0;
}

.footer-wrapper {
  grid-column-gap: 4vw;
  color: #fff;
  background-color: #fff0;
  border: 1px #0000;
  border-radius: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
  align-items: start;
  padding: 2.5rem;
}

.footer-social-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  padding-top: 1rem;
  display: grid;
}

.footer-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.footer-wrapper-left {
  flex-direction: column;
}

.footer-link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.footer-padding-bottom, .footer-padding-bottom.footer-padding-medium {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer-padding-small {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-button-div {
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-button-div.button-header {
  grid-column-gap: 0px;
  margin-top: 20px;
  display: block;
}

.hero-button-div.button-cta {
  margin-top: 1vh;
}

.dudji-heading-h4 {
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3em;
}

.dudji-cta-5-content {
  z-index: 1;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.car-cta-title-wrapper {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-2 {
  max-width: 1440px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-2.cta {
  max-width: 940px;
  margin-bottom: 0;
}

.cta-scroll-target {
  background-color: #fff;
}

.cta-scroll-wrapper {
  background-color: #fff0;
  position: relative;
  overflow: hidden;
}

.hightlight {
  z-index: 1;
  background-color: #fe5b3e;
  width: 0%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.hightlight._2 {
  background-color: #fff;
  height: 50%;
  inset: auto 0% 0% auto;
}

.hightlight._1 {
  background-color: #fe5b3e;
  height: 50%;
  inset: 0% 0% 0% auto;
}

.car-secondary-button {
  z-index: 0;
  background-color: #fe5b3e;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.car-cta-container {
  background-color: #fff;
  border-radius: 0;
  flex-flow: row;
  align-items: center;
  padding-top: 183px;
  padding-bottom: 183px;
  display: flex;
  position: relative;
}

.cta-scroll-trigger {
  pointer-events: none;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  inset: auto 0% 0%;
}

.heading-container {
  position: relative;
  overflow: hidden;
}

.footer-divider {
  background-color: #ffffff24;
  width: 100%;
  height: 1px;
}

.footer-divider.footer-margin-y {
  margin-top: 40px;
  margin-bottom: 24px;
}

.footer-copyright {
  color: #f2f4f7;
  margin-top: 1vh;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
}

.footer-icon {
  width: 40px;
}

.slider-001_paragraph {
  color: #000;
  font-style: italic;
}

.slider-001 {
  background-color: #fff;
  height: 70vh;
}

.slider-001_arrow-wrapper {
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.slider-001_control-wrapper {
  z-index: 10;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.slider-001_image-overlay {
  z-index: 1;
  background-color: #000;
  height: 100%;
  position: absolute;
  inset: auto 0% 0%;
}

.contact-intro-header, .contact-intro-header.margin-xsmall {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.slider-001_control {
  z-index: 10;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  transition: background-color .2s;
  position: relative;
}

.slider-001_control:hover {
  background-color: #dbdbdb;
}

.slider-001_control.is-black {
  background-color: #000;
}

.slider-001_control.is-black:hover {
  background-color: #494949;
}

.slider-001_image {
  filter: grayscale();
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.slider-001_nav {
  font-size: 8px;
  display: none;
}

.slider-001_content-right-pane {
  position: relative;
}

.hide {
  display: none;
}

.slider-001_slide {
  perspective: 250px;
  height: 70vh;
}

.hero__text-wrapper {
  max-width: 350px;
  margin-top: 10vh;
}

.slider-001_content-left-pane {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 3rem 0;
  display: flex;
}

.slider-001_mask {
  height: 70vh;
}

.slider-001_slide-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #e9e9e9;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  height: 100vh;
  display: grid;
}

.slider-001_headline {
  color: #000;
  font-size: 25px;
}

.slider-001_arrow-icon {
  font-size: 20px;
}

.slider-001_arrow-icon.is-black {
  color: #000;
}

.div-block-12 {
  z-index: 9999;
  height: 50vh;
  padding-left: 2rem;
  position: absolute;
}

.heading-2 {
  color: #000;
  text-align: left;
  max-width: 300px;
  margin-top: 3vh;
  margin-left: 0;
  font-size: 38px;
}

.hero-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-button-link {
  z-index: 20;
  color: #eee;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px dashed #eee;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin-right: 0;
  padding: 12px 32px;
  font-size: .65rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-button-link.button-cta {
  border-color: #000;
}

.hero-button-text {
  z-index: 20;
  position: relative;
}

.hero-button-text.button-cta-text {
  color: #000;
  font-family: Montserrat, sans-serif;
}

.hero-button-effect {
  z-index: 5;
  background-color: #fff;
  border-radius: 100%;
  width: 125%;
  height: 400%;
  position: absolute;
  inset: auto auto -400% -16px;
}

.hero-button-effect.dark {
  background-color: #eee;
}

.hero-button-effect.dark.button-hover-cta {
  background-color: #000;
}

.image-8 {
  margin-top: 0;
}

.image-11 {
  -webkit-backdrop-filter: invert();
  backdrop-filter: invert();
  cursor: auto;
  mix-blend-mode: screen;
  display: block;
}

.section-about {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  overflow: visible;
}

.contact-header-span {
  color: #d5363e;
}

.field-label {
  color: var(--dudji-yellow);
  font-size: var(--font-size-3);
  margin-bottom: .5rem;
  font-weight: 400;
}

.contact-intro-button-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: grid;
}

.success-message {
  background-color: #000;
  padding: 1.5rem;
  position: absolute;
  inset: 0%;
}

.text-overlay {
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  position: absolute;
  inset: 0%;
}

.form-field-wrapper {
  color: #000;
  position: relative;
}

.contact-grid {
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.contact-grid-info {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.contact-content-wrapper {
  max-width: 35rem;
  margin-left: 5rem;
  margin-right: 5vw;
  position: relative;
}

.button {
  background-color: var(--dudji-yellow);
  color: #000;
  font-size: var(--font-size-3);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 1.5rem 1rem;
  font-weight: 700;
  line-height: 1;
  transition: all .2s;
  display: flex;
}

.button:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.button.is-secondary {
  border: 1px solid var(--dudji-red);
  color: #fff;
  font-size: var(--font-size-3);
  background-color: #0000;
}

.button.is-secondary:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.button.first {
  background-color: var(--dudji-yellow);
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-3);
  letter-spacing: 1px;
  transition: all .2s;
}

.button.first:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.success-text {
  font-weight: 600;
}

.success-text.large {
  color: #c1f64f;
  font-size: 5rem;
  font-weight: 400;
}

.contact-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--avatar-kit--white\<deleted\|variable-67a86166\>);
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 100px;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.contact-intro-button {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.contact-intro-button.margin-medium.hide-tablet {
  color: #fff;
}

.lottie-animation {
  height: 100%;
}

.form-input-2 {
  color: #000;
  font-size: var(--font-size-3);
  background-color: #fff;
  border: 1px solid #000;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  line-height: 1.6;
}

.form-input-2:focus {
  color: #000;
  border-color: #000;
}

.form-input-2:focus-visible {
  color: #000;
}

.form-input-2[data-wf-focus-visible] {
  color: #000;
}

.form-input-2::placeholder {
  color: #00000080;
  background-color: #0000;
}

.form-input-2.is-text-area {
  color: #000;
  min-height: 8rem;
  padding-top: .75rem;
}

.lottie-wrapper {
  position: absolute;
  inset: 0%;
}

.header37_image {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  max-height: 60rem;
}

.contact-image-wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
  position: sticky;
  bottom: 1rem;
}

.form-field {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-14 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.text-size-medium-2 {
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-2);
}

.error-text {
  color: #e23939;
}

.body-3 {
  background-color: #050505;
}

.body-4 {
  background-color: var(--background);
  color: var(--background);
}

.section-under-construction {
  background-color: var(--background);
  width: auto;
  height: auto;
}

.container-under-construction {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 75vh;
  display: flex;
}

.heading-4 {
  color: var(--avatar-kit--white\<deleted\|variable-67a86166\>);
  font-family: Montserrat, sans-serif;
}

.div-align-dead-center {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-13 {
  border: 3px solid #fff;
  width: 300px;
}

.form-field-flex {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-field-phone {
  width: 100%;
}

.form-field-country {
  margin-right: 8px;
}

.contact_social-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  padding-top: 1rem;
  display: grid;
}

.social-media-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-5, .heading-6 {
  font-size: var(--font-size-1);
}

.paragraph {
  font-size: var(--font-size-3);
}

.heading-7 {
  font-size: var(--font-size-1);
  padding-top: 100px;
  line-height: 40px;
}

.paragraph-2 {
  font-size: var(--font-size-3);
}

.fs-cc-banner_trigger {
  display: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start center;
  place-items: center;
  max-width: 70rem;
  display: flex;
  position: relative;
}

.pursuits-container {
  border: 1px #000;
  padding-top: 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pursuits-container.padding-section-large {
  z-index: 3;
  padding-top: 8rem;
}

.pursuits-container.padding-section-large.is-relative {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
  position: relative;
}

.pursuit-item-image-overlay {
  z-index: 2;
  transform-origin: 100%;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0%;
}

.pursuit-item-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.section-pursuits {
  z-index: 2;
  background-color: var(--background);
  border-radius: 2rem;
  height: auto;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-slider {
  height: 300vw;
  position: relative;
}

.pursuit-item-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.about-image {
  z-index: 2;
  transform-origin: 50%;
  vertical-align: baseline;
  object-fit: cover;
  border: 1px #ffffff52;
  border-radius: 8px;
  width: 100%;
  max-width: none;
  height: 100%;
  margin-top: 0;
  padding: 0;
  display: block;
  position: static;
  top: 0%;
  left: 0%;
}

.background-video {
  width: 100%;
  height: 100%;
}

.pursuit-item-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 1px solid #ffffff1a;
  border-radius: .4rem;
  width: 60vw;
  min-width: 40rem;
  height: auto;
  max-height: 70vh;
  text-decoration-color: #00e0;
  display: block;
  position: relative;
  overflow: hidden;
}

.pursuits-canvas {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.tagline {
  font-size: var(--font-size-2);
  font-weight: 400;
}

.pursuit-item-content-text-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  max-width: 25ch;
  display: flex;
}

.pursuits-frame {
  flex-flow: row;
  height: 100%;
  display: flex;
}

.pursuit-item {
  flex: none;
  width: 100vw;
  height: 100vh;
  display: block;
}

.v-line-3 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 60vw;
  overflow: hidden;
}

.v-line-2a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-4 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 80vw;
  overflow: hidden;
}

.v-line-4a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-1 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 20vw;
  overflow: hidden;
}

.v-line-1a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-2 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 40vw;
  overflow: hidden;
}

.vertical-lines {
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-3a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.span-science, .span-technology {
  color: var(--dudji-yellow);
  font-weight: 800;
}

.span-dudji {
  color: var(--dudji-red);
  font-weight: 800;
}

.about-stack-middle {
  flex-flow: column;
  height: 100%;
  display: flex;
}

.about-stack-right {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
  display: none;
}

.about-container {
  max-width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.cell-2 {
  justify-content: flex-end;
}

.about-logo {
  object-fit: contain;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.div-logo {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: auto;
  margin-bottom: 10px;
  display: none;
}

.div-3d {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  position: static;
}

.container-hero {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-10 {
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 4rem;
}

.about-text {
  font-size: var(--font-size-3);
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-picture-1 {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
}

.pursuit-item-content-header {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
}

.pursuit-item-content-text {
  font-size: var(--font-size-3);
}

.pursuit-item-content-span {
  font-weight: 800;
}

.cell-4 {
  justify-content: flex-start;
  align-items: flex-start;
}

.cert_journey {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cbbh_spin {
  width: 15%;
  position: absolute;
  inset: auto 0% 0% auto;
}

.cpts_spin {
  width: 15%;
  position: absolute;
  inset: auto 0% 50% auto;
}

.loader {
  z-index: 9999;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  inset: 0%;
}

.loader-lottie {
  width: 10rem;
  margin: auto;
  position: absolute;
  inset: 0%;
}

.body-5 {
  background-color: var(--background);
}

.section-success {
  justify-content: center;
  align-items: center;
  height: 100svh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.success-title.text-size-xl.text-weight-light {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-1);
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
}

.success.text-size-xl.text-weight-light {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-3);
  letter-spacing: 1px;
  text-transform: none;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}

.text-wrapper-success {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  padding-top: 0;
  display: flex;
}

.success-div {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-2 {
  background-color: var(--background);
  color: #3330;
  display: block;
  position: fixed;
  inset: 0% 0% auto;
}

.contact_form {
  flex-direction: column;
  align-items: stretch;
}

.contact-form-input {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hero-container {
  border: 1px #000;
  padding-top: 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.hero-container.padding-section-large {
  z-index: 3;
  padding-top: 8rem;
}

.hero-container.padding-section-large.is-relative {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding-top: 0;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {
  .nav-menu-big-wrapper {
    display: block;
  }

  .link {
    font-size: 3.4vw;
    line-height: 3.4vw;
  }

  .nav-content {
    padding-left: 0;
    padding-right: 0;
  }

  .scramble-text {
    font-size: 2rem;
  }

  .scramble-text.text-size-xl.text-weight-light {
    text-align: center;
  }

  .section-hero, .section-philosophy {
    padding-left: 20px;
  }

  .footer-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .footer-padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .car-cta-container {
    padding: 150px 20px;
  }

  .footer-divider.footer-margin-y {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .slider-001_paragraph {
    font-size: 14px;
    line-height: 23px;
  }

  .contact-intro-header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_content-left-pane {
    padding-left: 1rem;
  }

  .slider-001_headline {
    font-size: 20px;
    line-height: 40px;
  }

  .heading-2 {
    margin-left: 1vh;
  }

  .image-8 {
    width: 40%;
  }

  .image-11 {
    -webkit-text-fill-color: inherit;
    mix-blend-mode: darken;
    background-clip: border-box;
    border-radius: 0;
  }

  .section-about {
    height: 100%;
  }

  .contact-grid {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
    padding-top: 4rem;
  }

  .contact-grid-info {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
    margin-top: 4rem;
  }

  .contact-content-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }

  .contact-header {
    height: auto;
  }

  .contact-intro-button {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-wrapper-2 {
    position: relative;
  }

  .header37_image {
    height: auto;
    max-height: none;
  }

  .text-size-medium-2 {
    margin-bottom: 0;
  }

  .heading-4 {
    font-size: 30px;
  }

  .image-13 {
    width: 200px;
  }

  .heading-5 {
    margin-top: 0;
  }

  .heading-7 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .pursuit-item-content {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .section-pursuits {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .about-slider {
    height: auto;
  }

  .pursuit-item-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .about-image {
    object-fit: cover;
  }

  .pursuit-item-image {
    width: 100%;
  }

  .pursuits-canvas {
    width: 100%;
    height: auto;
    position: static;
  }

  .pursuit-item-content-text-wrapper {
    max-width: 50ch;
  }

  .pursuits-frame {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    flex-flow: column;
    height: auto;
  }

  .pursuit-item {
    width: 100%;
    height: auto;
  }

  .container-hero {
    justify-content: center;
    align-items: center;
  }

  .section-success {
    padding-left: 20px;
  }

  .success-title {
    font-size: 2rem;
  }

  .success-title.text-size-xl.text-weight-light {
    text-align: center;
  }

  .success {
    font-size: 2rem;
  }

  .success.text-size-xl.text-weight-light {
    text-align: center;
  }

  .navbar-2 {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu-big-content-list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
  }

  .nav__list-item {
    margin-bottom: 5vh;
  }

  .nav-menu-big-content {
    top: 35%;
  }

  .logo-text {
    text-align: center;
  }

  .nav__list-item-copy {
    margin-bottom: 5vh;
  }

  .link {
    font-size: 6vw;
    line-height: 6vw;
  }

  .nav-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-text {
    justify-content: flex-start;
    align-items: center;
  }

  .scramble-text {
    font-size: 1.5rem;
  }

  .scramble-text.text-size-xl.text-weight-light {
    font-size: 20px;
  }

  .footer-wrapper-menu {
    grid-column-gap: 1.5rem;
  }

  .footer-wrapper {
    grid-row-gap: 3rem;
    border-radius: 1rem;
    padding: 2rem;
  }

  .footer-padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dudji-heading-h4 {
    text-align: left;
  }

  .section-2 {
    margin-bottom: 100px;
  }

  .footer-icon {
    margin-left: auto;
    margin-right: auto;
  }

  .slider-001_control-wrapper {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .contact-intro-header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_content-right-pane {
    width: auto;
    height: 50vh;
  }

  .slider-001_content-left-pane {
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    min-height: 50vh;
    padding: 2rem;
  }

  .slider-001_slide-content {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .div-block-12 {
    padding-left: 2rem;
  }

  .heading-2 {
    margin-left: 0;
    font-size: 2rem;
  }

  .image-11 {
    width: 100px;
  }

  .contact-grid {
    padding-top: 4rem;
  }

  .contact-grid-info {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .contact-intro-button {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .form-field.is-mobile-1col {
    grid-template-columns: 1fr;
  }

  .heading-4 {
    font-size: 30px;
  }

  .image-13 {
    width: 200px;
  }

  .pursuits-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .pursuit-item-content {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .section-pursuits {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .pursuit-item-image {
    width: 100%;
    min-width: auto;
  }

  .pursuits-canvas, .pursuit-item {
    width: 100%;
  }

  .success-title {
    font-size: 1.5rem;
  }

  .success-title.text-size-xl.text-weight-light {
    font-size: var(--font-size-1);
  }

  .success {
    font-size: 1.5rem;
  }

  .success.text-size-xl.text-weight-light {
    font-size: var(--font-size-3);
  }

  .text-wrapper-success {
    justify-content: flex-start;
    align-items: center;
  }

  .hero-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .link {
    font-size: 7vw;
    line-height: 7vw;
  }

  .nav-menu-big {
    display: none;
  }

  .hero-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: flex;
  }

  .scramble-text {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .scramble-text.text-size-xl.text-weight-light {
    margin-left: -5%;
    font-size: 2rem;
    display: block;
  }

  .section-hero {
    padding-left: 0;
  }

  .spline-scene {
    width: 100%;
    height: 100%;
  }

  .section-philosophy {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-wrapper-menu {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .footer-wrapper {
    padding-bottom: 4rem;
  }

  .footer-padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-button-div {
    grid-row-gap: 10px;
    flex-direction: column;
  }

  .dudji-heading-h4 {
    font-size: 1rem;
  }

  .car-cta-container {
    padding: 100px 20px;
  }

  .footer-copyright {
    text-align: center;
  }

  .slider-001_paragraph {
    font-size: 1rem;
  }

  .slider-001 {
    height: 80vh;
  }

  .slider-001_control-wrapper {
    bottom: 42.5vh;
  }

  .contact-intro-header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_control.is-black {
    width: 3.05rem;
  }

  .slider-001_content-right-pane {
    height: 65vh;
  }

  .slider-001_slide {
    height: 100vh;
  }

  .main-wrapper {
    padding-right: 0;
  }

  .hero__text-wrapper {
    margin-top: 0;
    padding-bottom: 0;
  }

  .slider-001_content-left-pane {
    height: 35vh;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slider-001_mask {
    height: 80vh;
  }

  .slider-001_slide-content {
    height: 100vh;
  }

  .slider-001_headline {
    font-size: 1rem;
    font-style: normal;
    line-height: 30px;
  }

  .div-block-12 {
    height: auto;
    padding-left: 0;
    display: block;
    inset: 0% 0% auto;
  }

  .heading-2 {
    text-align: center;
    margin-left: 0;
    font-size: 1rem;
  }

  .hero-button-link {
    align-self: center;
    margin-top: .5rem;
    margin-bottom: .3rem;
    margin-right: .8rem;
  }

  .image-11 {
    width: 100px;
    display: none;
  }

  .section-about {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-grid, .contact-grid-info {
    grid-template-columns: 1fr;
  }

  .contact-intro-button {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-4 {
    font-size: 20px;
  }

  .image-13 {
    width: 150px;
  }

  .heading-7 {
    padding-top: 40px;
    line-height: 40px;
  }

  .hero_content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .pursuit-item-content {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .section-pursuits {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .about-slider {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .pursuit-item-wrapper {
    justify-content: center;
    align-items: center;
  }

  .pursuit-item-image {
    width: 100%;
    min-width: auto;
  }

  .pursuits-canvas {
    width: 100%;
  }

  .pursuit-item-content-text-wrapper {
    max-width: none;
  }

  .pursuits-frame {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .pursuit-item {
    width: 100%;
  }

  .about-container {
    padding-left: 0;
    padding-right: 0;
  }

  .div-3d, .about-picture-1 {
    height: 250px;
  }

  .section-success {
    padding-left: 0;
  }

  .success-title {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .success-title.text-size-xl.text-weight-light {
    margin-left: -5%;
    font-size: 2rem;
    display: block;
  }

  .success {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .success.text-size-xl.text-weight-light {
    font-size: var(--font-size-3);
    margin-left: -5%;
    display: block;
  }

  .text-wrapper-success {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: flex;
  }

  .quick-stack {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

#w-node-_92a5ed72-5f75-96aa-b8d4-0b4500fa3310-eea817c0 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-a39bf94f-c1b7-01fb-a945-3f9d5f51e3dc-eea817c0, #w-node-a39bf94f-c1b7-01fb-a945-3f9d5f51e3e3-eea817c0 {
  place-self: stretch stretch;
}

#w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f7c-7f097f77 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f11d-6f687f0d {
  justify-self: start;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f12b-6f687f0d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#form-section-1.w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f130-6f687f0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f14a-6f687f0d {
  align-self: center;
}

#form-section-3.w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f170-6f687f0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f187-6f687f0d {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_92a5ed72-5f75-96aa-b8d4-0b4500fa3310-eea817c0 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: grid;
  }

  #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f7c-7f097f77 {
    order: -9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: auto;
  }

  #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f85-7f097f77, #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f96-7f097f77 {
    order: 9999;
  }

  #w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f11d-6f687f0d {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_92a5ed72-5f75-96aa-b8d4-0b4500fa3310-eea817c0 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}


