:root {
  --background: #060606;
  --font: Montserrat, sans-serif;
  --dudji-yellow: #ffc83d;
  --font-size-3: 1rem;
  --dudji-red: #d5363e;
  --avatar-kit--white\<deleted\|variable-67a86166\>: white;
  --font-size-2: 1.25rem;
  --font-size-1: 2.5rem;
  --white: white;
  --black: black;
  --dudjji-purple: #643dff;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: none;
}

.navbar {
  color: #3330;
  background-color: #fff0;
  position: absolute;
  inset: 0% 0% auto;
}

.body {
  background-color: var(--background);
  font-family: var(--font);
  color: #fff;
}

.services-home-container {
  margin-top: 10vh;
}

.card {
  margin-top: 0;
  padding: 16px 0;
}

.card-text {
  color: #d5363e;
  margin-top: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.card-para {
  color: #ffffff75;
  width: 250px;
  margin-top: 1rem;
  font-weight: 400;
}

.image {
  width: 40px;
}

.nav__list {
  z-index: 99;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: relative;
}

.line-1 {
  color: #fff;
  background-color: #fff;
  width: 27px;
  height: 2px;
}

.div-block-2 {
  background-color: #000;
  width: 100vw;
  height: 100px;
  position: fixed;
}

.nav {
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
}

.navmenu-6 {
  z-index: 9999;
  position: relative;
}

.line-2 {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-6 {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav__list-item {
  margin-right: 3vw;
  list-style-type: disc;
  display: inline-block;
  position: relative;
}

.nav__content {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
}

.logo-text {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.logo-text._2ndnavtext {
  font-weight: 700;
  display: none;
}

.nav__list-item-copy {
  margin-right: 3vw;
  list-style-type: disc;
  display: block;
  position: relative;
}

.link {
  opacity: 1;
  color: #131314;
  font-family: Montserrat, sans-serif;
  font-size: 2.8vw;
  font-weight: 300;
  line-height: 2.8vw;
  text-decoration: none;
  display: block;
}

.link:hover, .link.w--current:hover {
  font-weight: 700;
}

.burger-wrapper {
  z-index: 201;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
  height: 60px;
  padding: 15px 0 15px 15px;
  display: flex;
  position: relative;
}

.line-3 {
  background-color: #fff;
  width: 27px;
  height: 2px;
}

.navbar6-logo {
  text-decoration: none;
}

.navbar6-contain {
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.menu_section {
  z-index: 9998;
  background-color: #0000;
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.div-block-8 {
  display: block;
}

.text-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 0;
  display: flex;
}

.scramble-text.text-size-xl.text-weight-light {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
}

.section-hero {
  justify-content: center;
  align-items: center;
  height: 100svh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.spline-scene {
  background-color: #7a636300;
  width: 100%;
  height: 100%;
  position: static;
}

.heading {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
}

.section-passions {
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-family: Montserrat, sans-serif;
  display: none;
}

.bold-text {
  font-weight: 400;
}

.image-2, .image-3, .image-4, .image-5 {
  filter: invert();
  width: 40px;
}

.image-6 {
  width: 40px;
}

.section-cta {
  background-color: #fff0;
  margin-top: 20vh;
  margin-bottom: 0;
}

.section-philosophy {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: none;
}

.footer {
  font-family: Montserrat, sans-serif;
}

.container-large {
  width: 100%;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
}

.social-media-icon {
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  transition: color .2s;
}

.social-media-icon:hover {
  color: var(--dudji-yellow);
}

.footer_menu-wrapper {
  grid-column-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
}

.footer_link {
  color: #fff;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
}

.footer_link:hover {
  color: #d5363e;
}

.text-size-small {
  font-size: .875rem;
  line-height: 1.5;
}

.text-size-small.text-color-gray600 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footer_logo-link {
  float: none;
  padding-left: 0;
}

.footer_top-wrapper {
  grid-column-gap: 4vw;
  color: #fff;
  background-color: #fff0;
  border: 1px #0000;
  border-radius: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
  align-items: start;
  padding: 2.5rem;
}

.footer_social-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  padding-top: 1rem;
  display: grid;
}

.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.footer_left-wrapper {
  flex-direction: column;
}

.footer_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.padding-bottom, .padding-bottom.padding-medium {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-section-small {
  padding-top: 0;
  padding-bottom: 0;
}

.dudji-cta-5-button {
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dudji-cta-5-button.button-header {
  grid-column-gap: 0px;
  margin-top: 20px;
  display: block;
}

.dudji-cta-5-button.button-cta {
  margin-top: 1vh;
}

.dudji-heading-h4 {
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3em;
}

.dudji-cta-5-content {
  z-index: 1;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.car-cta-title-wrapper {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-2 {
  max-width: 1440px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-2.cta {
  max-width: 940px;
  margin-bottom: 0;
}

.scroll_target {
  background-color: #fff;
}

.scroll_wrap {
  background-color: #fff0;
  position: relative;
  overflow: hidden;
}

.hightlight {
  z-index: 1;
  background-color: #fe5b3e;
  width: 0%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.hightlight._2 {
  background-color: #fff;
  height: 50%;
  inset: auto 0% 0% auto;
}

.hightlight._1 {
  background-color: #fe5b3e;
  height: 50%;
  inset: 0% 0% 0% auto;
}

.car-secondary-button {
  z-index: 0;
  background-color: #fe5b3e;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.car-cta-container {
  background-color: #fff;
  border-radius: 0;
  flex-flow: row;
  align-items: center;
  padding-top: 183px;
  padding-bottom: 183px;
  display: flex;
  position: relative;
}

.scrool-trigger {
  pointer-events: none;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  inset: auto 0% 0%;
}

.heading-container {
  position: relative;
  overflow: hidden;
}

.divider {
  background-color: #ffffff24;
  width: 100%;
  height: 1px;
}

.divider.margin-y {
  margin-top: 40px;
  margin-bottom: 24px;
}

.eride-copyright {
  color: #f2f4f7;
  margin-top: 1vh;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
}

.eride-brand-image {
  width: 40px;
}

.slider-001_paragraph {
  color: #000;
  font-style: italic;
}

.slider-001 {
  background-color: #fff;
  height: 70vh;
}

.slider-001_arrow-wrapper {
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.slider-001_control-wrapper {
  z-index: 10;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.slider-001_image-overlay {
  z-index: 1;
  background-color: #000;
  height: 100%;
  position: absolute;
  inset: auto 0% 0%;
}

.margin-bottom-2, .margin-bottom-2.margin-xsmall {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.slider-001_control {
  z-index: 10;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  transition: background-color .2s;
  position: relative;
}

.slider-001_control:hover {
  background-color: #dbdbdb;
}

.slider-001_control.is-black {
  background-color: #000;
}

.slider-001_control.is-black:hover {
  background-color: #494949;
}

.slider-001_image {
  filter: grayscale();
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.slider-001_nav {
  font-size: 8px;
  display: none;
}

.slider-001_content-right-pane {
  position: relative;
}

.hide {
  display: none;
}

.slider-001_slide {
  perspective: 250px;
  height: 70vh;
}

.hero__text-wrapper {
  max-width: 350px;
  margin-top: 10vh;
}

.slider-001_content-left-pane {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 3rem 0;
  display: flex;
}

.slider-001_mask {
  height: 70vh;
}

.slider-001_slide-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #e9e9e9;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  height: 100vh;
  display: grid;
}

.slider-001_headline {
  color: #000;
  font-size: 25px;
}

.slider-001_arrow-icon {
  font-size: 20px;
}

.slider-001_arrow-icon.is-black {
  color: #000;
}

.div-block-12 {
  z-index: 9999;
  height: 50vh;
  padding-left: 2rem;
  position: absolute;
}

.heading-2 {
  color: #000;
  text-align: left;
  max-width: 300px;
  margin-top: 3vh;
  margin-left: 0;
  font-size: 38px;
}

.button-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-primary {
  z-index: 20;
  color: #eee;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px dashed #eee;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin-right: 0;
  padding: 12px 32px;
  font-size: .65rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-primary.button-cta {
  border-color: #000;
}

.button-text-5 {
  z-index: 20;
  position: relative;
}

.button-text-5.button-cta-text {
  color: #000;
  font-family: Montserrat, sans-serif;
}

.button-hover-circle-2 {
  z-index: 5;
  background-color: #fff;
  border-radius: 100%;
  width: 125%;
  height: 400%;
  position: absolute;
  inset: auto auto -400% -16px;
}

.button-hover-circle-2.dark {
  background-color: #eee;
}

.button-hover-circle-2.dark.button-hover-cta {
  background-color: #000;
}

.image-8 {
  margin-top: 0;
}

.image-11 {
  -webkit-backdrop-filter: invert();
  backdrop-filter: invert();
  cursor: auto;
  mix-blend-mode: screen;
  display: block;
}

.section-about {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  overflow: visible;
}

.quick-stack {
  padding: 0;
}

.text-color-green {
  color: #d5363e;
}

.field-label {
  color: var(--dudji-yellow);
  font-size: var(--font-size-3);
  margin-bottom: .5rem;
  font-weight: 400;
}

.button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: grid;
}

.success-message {
  background-color: #000;
  padding: 1.5rem;
  position: absolute;
  inset: 0%;
}

.text-overlay {
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.form-field-wrapper {
  color: #000;
  position: relative;
}

.header37_component {
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.contact12_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.header37_content {
  max-width: 35rem;
  margin-left: 5rem;
  margin-right: 5vw;
  position: relative;
}

.contact12_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.button-2 {
  background-color: var(--dudji-yellow);
  color: #000;
  font-size: var(--font-size-3);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 1.5rem 1rem;
  font-weight: 700;
  line-height: 1;
  transition: all .2s;
  display: flex;
}

.button-2:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.button-2.is-secondary {
  border: 1px solid var(--dudji-red);
  color: #fff;
  font-size: var(--font-size-3);
  background-color: #0000;
}

.button-2.is-secondary:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.button-2.first {
  background-color: var(--dudji-yellow);
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-3);
  letter-spacing: 1px;
  transition: all .2s;
}

.button-2.first:hover {
  background-color: var(--dudji-red);
  transform: scale(1.03);
}

.success-text {
  font-weight: 600;
}

.success-text.large {
  color: #c1f64f;
  font-size: 5rem;
  font-weight: 400;
}

.contact12_form-block {
  flex-direction: column;
  align-items: stretch;
}

.form-section-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--avatar-kit--white\<deleted\|variable-67a86166\>);
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-top.margin-medium.hide-tablet {
  color: #fff;
}

.lottie-animation {
  height: 100%;
}

.form-input-2 {
  color: #000;
  font-size: var(--font-size-3);
  background-color: #fff;
  border: 1px solid #000;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  line-height: 1.6;
}

.form-input-2:focus {
  color: #000;
  border-color: #000;
}

.form-input-2:focus-visible {
  color: #000;
}

.form-input-2[data-wf-focus-visible] {
  color: #000;
}

.form-input-2::placeholder {
  color: #00000080;
  background-color: #0000;
}

.form-input-2.is-text-area {
  color: #000;
  min-height: 8rem;
  padding-top: .75rem;
}

.lottie-wrapper {
  position: absolute;
  inset: 0%;
}

.header37_image {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  max-height: 60rem;
}

.header37_image-wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
  position: sticky;
  bottom: 1rem;
}

.form-field-2col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-14 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.text-size-medium-2 {
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-2);
}

.error-text {
  color: #e23939;
}

.body-3 {
  background-color: #050505;
}

.sideops-div {
  float: left;
  clear: none;
  padding-top: 5px;
}

.dynamic-list {
  text-align: right;
  flex-flow: wrap;
  place-content: stretch center;
  align-self: center;
  align-items: flex-start;
  padding-bottom: 15px;
  display: flex;
  position: relative;
}

.main-heading {
  float: none;
  color: #fff;
  text-align: left;
  letter-spacing: -.5px;
  background-color: #0000;
  border-top: 2px solid #ffffffa6;
  border-bottom: 2px #fff;
  align-self: flex-start;
  width: 100%;
  max-width: 95%;
  margin-top: 30px;
  margin-left: 0;
  margin-right: auto;
  padding: 15px 20px 20px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  display: block;
}

.main-heading.giant {
  float: left;
  text-align: left;
  letter-spacing: -13px;
  text-transform: none;
  border-top-style: none;
  border-bottom-style: none;
  flex: 0 auto;
  align-self: stretch;
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-left: -5px;
  padding: 0;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5rem;
}

.footer-text {
  float: left;
  clear: left;
  color: #ececec;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  font-weight: 400;
  display: block;
}

.home-content {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 60px 40px;
  display: flex;
}

.div-block-15 {
  flex: 0 auto;
}

.home-cta-btn {
  color: #fff;
  letter-spacing: 0;
  background-color: #ffffff1a;
  border: 2px solid #fff;
  border-radius: 0;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 60px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: background-color .3s;
  display: flex;
}

.home-cta-btn:hover {
  color: #000;
  background-color: #ffffffe6;
}

.submit-btn-div {
  margin-top: 10px;
  padding-left: 0;
}

.main-logo-home {
  text-align: left;
  flex: 1;
  align-self: center;
  margin-left: 0;
  margin-right: 15px;
  display: block;
}

.footer-logo {
  float: right;
  color: #fff;
  margin-top: 0;
  margin-right: auto;
  display: block;
}

.text-block-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.home {
  display: none;
}

.home-left {
  float: left;
  clear: both;
  flex-flow: column wrap;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  width: 35vw;
  max-width: 660px;
  margin-top: 30px;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.dynamic-list-wrapper {
  display: flex;
}

.column-1 {
  float: left;
  clear: both;
  flex-flow: column wrap;
  align-self: flex-start;
  align-items: flex-start;
  max-width: 35vw;
  margin-top: 30px;
  padding: 0;
  display: flex;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
}

.column-1.subhead {
  flex: 0 auto;
  justify-content: flex-start;
  max-width: none;
  margin-top: 0;
  position: relative;
}

.dynamic-item {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border: 2px #08bea1;
  flex: 0 auto;
  align-self: stretch;
  width: 24%;
  min-width: 140px;
  height: 10.5rem;
  min-height: auto;
  max-height: none;
  margin-bottom: 0;
  transition: all .3s;
  display: block;
  box-shadow: 0 0 #0003;
}

.dynamic-item:hover {
  z-index: 1;
  border-color: #fff;
  position: relative;
  transform: scale(1.1);
  box-shadow: 0 1px 6px #0000004d;
}

.main-tabs {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-self: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: flex;
}

.footer-logo-1 {
  padding-bottom: 3px;
}

.div-block-16 {
  flex: 1;
}

.logo-div {
  flex: 0 auto;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  min-width: 100px;
  max-width: 275px;
  padding-top: 0;
  padding-left: 0;
  display: flex;
}

.logo-div.w--current {
  flex: 0 auto;
  align-self: stretch;
  align-items: stretch;
  width: 75%;
  max-width: 380px;
  max-height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.gap-filler {
  flex: 1;
  min-height: 1px;
}

.footer-div {
  clear: none;
  background-image: linear-gradient(#141938, #141938);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  min-height: auto;
  margin-top: 0;
  padding: 15px 26px;
  display: flex;
  position: relative;
  inset: auto 0% 0%;
}

.body-4 {
  background-color: var(--background);
  color: var(--background);
}

.section-under-construction {
  background-color: var(--background);
  width: auto;
  height: auto;
}

.container-under-construction {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 75vh;
  display: flex;
}

.heading-4 {
  color: var(--avatar-kit--white\<deleted\|variable-67a86166\>);
  font-family: Montserrat, sans-serif;
}

.div-align-dead-center {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-13 {
  border: 3px solid #fff;
  width: 300px;
}

.div-block-17 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-18 {
  width: 100%;
}

.div-block-19 {
  margin-right: 8px;
}

.contact_social-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  padding-top: 1rem;
  display: grid;
}

.div-block-20 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-5, .heading-6 {
  font-size: var(--font-size-1);
}

.paragraph {
  font-size: var(--font-size-3);
}

.heading-7 {
  font-size: var(--font-size-1);
  padding-top: 50px;
}

.paragraph-2 {
  font-size: var(--font-size-3);
}

.div-block-21, .fs-cc-banner_trigger {
  display: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start center;
  place-items: center;
  max-width: 70rem;
  display: flex;
  position: relative;
}

.padding-global-3 {
  border: 1px #000;
  padding-top: 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global-3.padding-section-large {
  z-index: 3;
  padding-top: 8rem;
}

.padding-global-3.padding-section-large.is-relative {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
  position: relative;
}

.work_project-image-overlay {
  z-index: 2;
  transform-origin: 100%;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0%;
}

.work_content-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.section_work {
  z-index: 2;
  background-color: var(--background);
  border-radius: 2rem;
  height: auto;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.work_track {
  height: 300vw;
  position: relative;
}

.work_item-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.about-image-red {
  z-index: 2;
  transform-origin: 50%;
  vertical-align: baseline;
  object-fit: cover;
  border: 1px #ffffff52;
  border-radius: 8px;
  width: 100%;
  max-width: none;
  height: 100%;
  margin-top: 0;
  padding: 0;
  display: block;
  position: static;
  top: 0%;
  left: 0%;
}

.background-video {
  width: 100%;
  height: 100%;
}

.work_project-image-wrapper {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 1px solid #ffffff1a;
  border-radius: .4rem;
  width: 60vw;
  min-width: 40rem;
  height: auto;
  max-height: 70vh;
  text-decoration-color: #00e0;
  display: block;
  position: relative;
  overflow: hidden;
}

.work_camera {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
  display: none;
}

.tagline {
  font-size: var(--font-size-2);
  font-weight: 400;
}

.work_text-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  max-width: 25ch;
  display: flex;
}

.work_frame {
  flex-flow: row;
  height: 100%;
  display: flex;
}

.work_item {
  flex: none;
  width: 100vw;
  height: 100vh;
  display: block;
}

.v-line-3 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 60vw;
  overflow: hidden;
}

.v-line-2a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-4 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 80vw;
  overflow: hidden;
}

.v-line-4a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-1 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 20vw;
  overflow: hidden;
}

.v-line-1a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-2 {
  background-color: #fdfcfa26;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 40vw;
  overflow: hidden;
}

.vertical-lines {
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto;
}

.v-line-3a {
  background-image: linear-gradient(#0000, #fff);
  width: 1px;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}

.text-span-6, .text-span-7 {
  color: var(--dudji-yellow);
  font-weight: 800;
}

.text-span-8 {
  color: var(--dudji-red);
  font-weight: 800;
}

.about-stack-middle {
  flex-flow: column;
  height: 100%;
  display: flex;
}

.about-stack-right {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
  display: flex;
}

.container-3 {
  max-width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.cell-2, .cell-3 {
  justify-content: flex-end;
}

.image-15 {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.div-block-25 {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
}

.div-block-26 {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: none;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  position: static;
}

.container-4 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-10 {
  font-size: 4rem;
  line-height: 4rem;
}

.paragraph-5 {
  font-size: var(--font-size-3);
  margin-top: 20px;
  margin-bottom: 0;
}

.div-block-27 {
  border: 1px solid #ffffff52;
  border-radius: 8px;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
}

.heading-11 {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
}

.paragraph-6 {
  font-size: var(--font-size-3);
}

.text-span-9, .text-span-10 {
  font-weight: 800;
}

.heading-12 {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
}

.text-span-17 {
  font-weight: 800;
}

.text-span-18 {
  font-weight: 700;
}

.text-span-19, .text-span-20 {
  font-weight: 800;
}

.heading-13 {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 40px;
}

.heading-14 {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
  line-height: 40px;
}

.text-span-21, .text-span-22 {
  font-weight: 800;
}

.heading-15 {
  color: var(--dudji-red);
  font-size: var(--font-size-1);
}

.text-span-23, .text-span-24 {
  font-weight: 800;
}

.cell-4 {
  justify-content: flex-end;
  align-items: flex-start;
}

.cert_journey {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cbbh_spin {
  width: 15%;
  position: absolute;
  inset: auto 0% 0% auto;
}

.cpts_spin {
  width: 15%;
  position: absolute;
  inset: auto 0% 50% auto;
}

.loader {
  z-index: 9999;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  inset: 0%;
}

.loader-lottie {
  width: 10rem;
  margin: auto;
  position: absolute;
  inset: 0%;
}

.body-5 {
  background-color: var(--background);
}

.section-success {
  justify-content: center;
  align-items: center;
  height: 100svh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.success-title.text-size-xl.text-weight-light {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-1);
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
}

.success.text-size-xl.text-weight-light {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-3);
  letter-spacing: 1px;
  text-transform: none;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}

.text-wrapper-success {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  padding-top: 0;
  display: flex;
}

.success-div {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-2 {
  background-color: var(--background);
  color: #3330;
  position: static;
  inset: 0% 0% auto;
}

.contact_form {
  flex-direction: column;
  align-items: stretch;
}

.contact12_form-copy {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .nav {
    display: block;
  }

  .link {
    font-size: 3.4vw;
    line-height: 3.4vw;
  }

  .navbar6-contain {
    padding-left: 0;
    padding-right: 0;
  }

  .scramble-text {
    font-size: 2rem;
  }

  .scramble-text.text-size-xl.text-weight-light {
    text-align: center;
  }

  .section-hero, .section-passions, .section-philosophy {
    padding-left: 20px;
  }

  .footer_top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .car-cta-container {
    padding: 150px 20px;
  }

  .divider.margin-y {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .slider-001_paragraph {
    font-size: 14px;
    line-height: 23px;
  }

  .margin-bottom-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_content-left-pane {
    padding-left: 1rem;
  }

  .slider-001_headline {
    font-size: 20px;
    line-height: 40px;
  }

  .heading-2 {
    margin-left: 1vh;
  }

  .image-8 {
    width: 40%;
  }

  .image-11 {
    -webkit-text-fill-color: inherit;
    mix-blend-mode: darken;
    background-clip: border-box;
    border-radius: 0;
  }

  .section-about {
    height: 100%;
  }

  .quick-stack {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .header37_component {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
    padding-top: 6rem;
  }

  .contact12_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
    margin-top: 4rem;
  }

  .header37_content {
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-section-wrapper {
    height: auto;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section_header37 {
    position: relative;
  }

  .header37_image {
    height: auto;
    max-height: none;
  }

  .dynamic-list {
    text-align: center;
    justify-content: center;
  }

  .main-heading {
    text-align: center;
    align-self: center;
    margin-right: 0;
    padding-right: 0;
  }

  .main-heading.giant {
    float: none;
    text-align: center;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 5.5em;
    line-height: 100%;
  }

  .home-content {
    flex-direction: column;
    padding: 40px 0 0;
    display: flex;
  }

  .submit-btn-div {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: inline-block;
  }

  .main-logo-home {
    flex: 0 auto;
    max-width: 80%;
    position: relative;
  }

  .home-left {
    float: none;
    text-align: center;
    flex-direction: column;
    align-content: stretch;
    align-self: center;
    align-items: center;
    width: 80vw;
    max-width: none;
  }

  .column-1 {
    float: none;
  }

  .column-1.subhead {
    align-self: center;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  .main-tabs {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 30px;
  }

  .logo-div {
    flex: 0 auto;
    align-self: center;
    align-items: center;
    padding-left: 0;
  }

  .logo-div.w--current {
    flex: 0 auto;
    justify-content: center;
    align-self: center;
  }

  .footer-div {
    align-self: stretch;
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .heading-5 {
    margin-top: 0;
  }

  .div-block-21 {
    width: 15vw;
    height: 100%;
    position: absolute;
    inset: 0% -25% 0% auto;
  }

  .image-14 {
    object-fit: cover;
    object-position: 32% 50%;
    height: 100%;
  }

  .div-block-22 {
    background-color: #ffc83d4f;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .work_content-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .section_work {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .work_track {
    height: auto;
  }

  .work_item-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .about-image-red {
    object-fit: cover;
  }

  .work_project-image-wrapper {
    width: 100%;
  }

  .work_camera {
    width: 100%;
    height: auto;
    position: static;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
    display: block;
  }

  .work_text-container {
    max-width: 50ch;
  }

  .work_frame {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    flex-flow: column;
    height: auto;
  }

  .work_item {
    width: 100%;
    height: auto;
  }

  .section-success {
    padding-left: 20px;
  }

  .success-title {
    font-size: 2rem;
  }

  .success-title.text-size-xl.text-weight-light {
    text-align: center;
  }

  .success {
    font-size: 2rem;
  }

  .success.text-size-xl.text-weight-light {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
  }

  .nav__list-item {
    margin-bottom: 5vh;
  }

  .nav__content {
    top: 35%;
  }

  .logo-text {
    text-align: center;
  }

  .nav__list-item-copy {
    margin-bottom: 5vh;
  }

  .link {
    font-size: 6vw;
    line-height: 6vw;
  }

  .navbar6-contain {
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .scramble-text {
    font-size: 1.5rem;
  }

  .scramble-text.text-size-xl.text-weight-light {
    font-size: 20px;
  }

  .footer_menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .footer_top-wrapper {
    grid-row-gap: 3rem;
    border-radius: 1rem;
    padding: 2rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dudji-heading-h4 {
    text-align: left;
  }

  .section-2 {
    margin-bottom: 100px;
  }

  .eride-brand-image {
    margin-left: auto;
    margin-right: auto;
  }

  .slider-001_control-wrapper {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .margin-bottom-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_content-right-pane {
    width: auto;
    height: 50vh;
  }

  .slider-001_content-left-pane {
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    min-height: 50vh;
    padding: 2rem;
  }

  .slider-001_slide-content {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .div-block-12 {
    padding-left: 2rem;
  }

  .heading-2 {
    margin-left: 0;
    font-size: 2rem;
  }

  .image-11 {
    width: 100px;
  }

  .header37_component {
    padding-top: 4rem;
  }

  .contact12_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .form-field-2col.is-mobile-1col {
    grid-template-columns: 1fr;
  }

  .main-heading {
    font-size: 24px;
    line-height: 25px;
  }

  .main-heading.giant {
    letter-spacing: -1px;
    font-size: 55px;
  }

  .dynamic-item {
    width: 47%;
    height: 8rem;
  }

  .padding-global-3 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .work_content-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .section_work {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .work_project-image-wrapper {
    width: 100%;
    min-width: auto;
  }

  .work_camera {
    width: 100%;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
    display: none;
  }

  .work_item {
    width: 100%;
  }

  .success-title {
    font-size: 1.5rem;
  }

  .success-title.text-size-xl.text-weight-light {
    font-size: var(--font-size-1);
  }

  .success {
    font-size: 1.5rem;
  }

  .success.text-size-xl.text-weight-light {
    font-size: var(--font-size-3);
  }

  .text-wrapper-success {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .card {
    padding-left: 0;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-para {
    width: auto;
    font-size: .8rem;
  }

  .link {
    font-size: 7vw;
    line-height: 7vw;
  }

  .menu_section {
    display: none;
  }

  .text-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: flex;
  }

  .scramble-text {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .scramble-text.text-size-xl.text-weight-light {
    margin-left: -5%;
    font-size: 2rem;
    display: block;
  }

  .section-hero {
    padding-left: 0;
  }

  .spline-scene {
    height: 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .section-passions {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-philosophy {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_menu-wrapper {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .footer_top-wrapper {
    padding-bottom: 4rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dudji-cta-5-button {
    grid-row-gap: 10px;
    flex-direction: column;
  }

  .dudji-heading-h4 {
    font-size: 1rem;
  }

  .car-cta-container {
    padding: 100px 20px;
  }

  .eride-copyright {
    text-align: center;
  }

  .slider-001_paragraph {
    font-size: 1rem;
  }

  .slider-001 {
    height: 80vh;
  }

  .slider-001_control-wrapper {
    bottom: 42.5vh;
  }

  .margin-bottom-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider-001_control.is-black {
    width: 3.05rem;
  }

  .slider-001_content-right-pane {
    height: 65vh;
  }

  .slider-001_slide {
    height: 100vh;
  }

  .main-wrapper {
    padding-right: 0;
  }

  .hero__text-wrapper {
    margin-top: 0;
    padding-bottom: 0;
  }

  .slider-001_content-left-pane {
    height: 35vh;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slider-001_mask {
    height: 80vh;
  }

  .slider-001_slide-content {
    height: 100vh;
  }

  .slider-001_headline {
    font-size: 1rem;
    font-style: normal;
    line-height: 30px;
  }

  .div-block-12 {
    height: auto;
    padding-left: 0;
    display: block;
    inset: 0% 0% auto;
  }

  .heading-2 {
    text-align: center;
    margin-left: 0;
    font-size: 1rem;
  }

  .button-primary {
    align-self: center;
    margin-top: .5rem;
    margin-bottom: .3rem;
    margin-right: .8rem;
  }

  .image-11 {
    width: 100px;
    display: none;
  }

  .section-about {
    padding-left: 20px;
    padding-right: 20px;
  }

  .quick-stack {
    min-width: auto;
    max-width: none;
  }

  .cell {
    flex-flow: column;
    display: flex;
  }

  .header37_component, .contact12_component {
    grid-template-columns: 1fr;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .sideops-div {
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }

  .main-heading {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .main-heading.giant {
    padding-top: 0;
    font-size: 40px;
    line-height: 50px;
  }

  .footer-text {
    float: left;
    clear: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .home-content {
    flex-direction: column;
  }

  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: static;
  }

  .text-block-5 {
    font-size: 16px;
  }

  .column-1.subhead {
    text-align: center;
    flex-wrap: wrap;
    align-self: stretch;
    display: block;
  }

  .logo-div {
    justify-content: center;
  }

  .footer-div {
    height: auto;
    padding: 7px 11px;
  }

  .heading-7 {
    padding-top: 40px;
    line-height: 40px;
  }

  .hero_content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .work_content-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .section_work {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .work_track {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .work_item-wrapper {
    justify-content: center;
    align-items: center;
  }

  .work_project-image-wrapper {
    width: 100%;
    min-width: auto;
  }

  .work_camera {
    width: 100%;
  }

  .work_text-container {
    max-width: none;
  }

  .work_frame {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .work_item {
    width: 100%;
  }

  .section-success {
    padding-left: 0;
  }

  .success-title {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .success-title.text-size-xl.text-weight-light {
    margin-left: -5%;
    font-size: 2rem;
    display: block;
  }

  .success {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .success.text-size-xl.text-weight-light {
    font-size: var(--font-size-3);
    margin-left: -5%;
    display: block;
  }

  .text-wrapper-success {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: flex;
  }
}

#w-node-_92a5ed72-5f75-96aa-b8d4-0b4500fa3310-eea817c0 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-f7f4cb42-54ff-5aeb-4942-4f4913ecbc82-eea817c0 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-a39bf94f-c1b7-01fb-a945-3f9d5f51e3dc-eea817c0, #w-node-a39bf94f-c1b7-01fb-a945-3f9d5f51e3e3-eea817c0 {
  place-self: stretch stretch;
}

#w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f7c-7f097f77 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f11d-6f687f0d {
  justify-self: start;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f12b-6f687f0d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#form-section-1.w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f130-6f687f0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f14a-6f687f0d {
  align-self: center;
}

#form-section-3.w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f170-6f687f0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f187-6f687f0d {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_92a5ed72-5f75-96aa-b8d4-0b4500fa3310-eea817c0 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: grid;
  }

  #w-node-f7f4cb42-54ff-5aeb-4942-4f4913ecbc82-eea817c0 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f7c-7f097f77 {
    order: -9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: auto;
  }

  #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f85-7f097f77, #w-node-_922f6d2f-4515-0c2d-b386-c41e7f097f96-7f097f77 {
    order: 9999;
  }

  #w-node-_4a0c4661-1494-52b4-aa71-1aed0f15f11d-6f687f0d {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f7f4cb42-54ff-5aeb-4942-4f4913ecbc82-eea817c0 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f7f4cb42-54ff-5aeb-4942-4f4913ecbc83-eea817c0 {
    order: 0;
  }
}


